{% if session.user_id %}
<form action="/send" method="POST">
    <header>
        <h3>Start a new converation</h3>
    </header>
    <p>
        Give a subject for this message:<br>
        <textarea name="topic" required rows="1" cols="30"></textarea>
    </p>
    <p>
        What is on your mind?<br>
        <textarea name="content" required rows="4" cols="50"></textarea>
    </p>
    
            <input type="submit" value="Submit"> <a href="/mypage">Back</a>
            <p>
    </form>

{% else %}
<a href="/login">Log in</a>
{% endif %}