{% extends "layout.html" %}
{% block title %}Forum{% endblock %}
{% block navbar %}
	<li class="nav-item active">
		<a class="nav-link" href="/mypage">My Page</a>
    </li>
    <li class="nav-item active">
		<a class="nav-link" href="/submitlabs">Submit Labs<span class="sr-only"></span></a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="/query">Make Queries<span class="sr-only"></span></a>
	</li>
{% endblock %}
{% block content %}






<main role="main" class="container">
	<div class="row">
		<div class="col-md-3 p-3 mb-3 bg-light rounded">
		<h3><a href="/new">Start new conversation</a></h3>
		<hr>
			<h3><a href="/forum">Forum</a></h3>
		</div><!-- /.blog-post -->
  
	  
  
	  <aside class="col-md-9 blog-sidebar">
		<div class="col-md-8 blog-main">
			<h3 class="pb-3 mb-4"></h3>
			Latest messages: 
		</h3>
		{% for message in lista %}
		<div class="blog-post">
		  <h2 class="blog-post-title"><a href="/topic/{{ message[4] }}">{{ message[0] }}</a></h2>
		  <p class="blog-post-meta">{{ message[2]  }} From {{ message[1] }}</a></p>
  
		  <p>Latest post: {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}<br></p>
		  <form action="/delete_post" method="POST">
	
			<input type="submit" value="Delete"> 
			<input type="hidden" name="id" value="{{ message[5] }}">
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		</form> 
		  <hr>
		  {% endfor %}
			
		</div>
  	  </aside><!-- /.blog-sidebar -->
  
	</div><!-- /.row -->
  
  </main><!-- /.container -->
  {% endblock %}

