{% if session.user_id %}
<h2>Hello, {{ session.username  }}!</h2><br>
<p></p>
<a href="/new">Start a new conversation</a>
<hr>
Latest discussions: <br>
<hr>
{% for message in messages %}
Topic: {{ message[1] }} <br>
Latest post: {{ message[3]}} from {{ message[2] }}<br>
{{ message[4].strftime("%Y-%m-%d %H:%M:%S")  }}<br>
<a href="/topic/{{ message[0] }}">Reply</a>

<hr>
{% endfor %}

<a href="/mypage">Mypage</a> | <a href="/submitlabs">Submit Labs</a> | <a href="/query">Make Queries</a> | <a href="/logout">Logout</a>
{% else %}
<a href="/login">Log in</a>
{% endif %}