<!doctype html>
<html lang="en">
<head>
  <title>Ketonormal - {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
{% with flash_messages = get_flashed_messages() %}
  {% if flash_messages %}
<div>  
    <div class="alert alert-warning alert-dismissible" role="alert">
    {% for flash_message in flash_messages %}
    <li>{{ flash_message }}</li>
    {% endfor %}
    </ul>
</div>
  {% endif %}
{% endwith %}
{% if session.user_id %}
<body>
<nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #0398fc;">
    <div class="container-fluid">
		    
        
          <ul class="navbar-nav ml-auto">
            
            {% block navbar %}
            {% endblock %}
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
                
        </ul>
    </div>
</nav>



{% block content %}

{% endblock %}

<nav class="navbar fixed-bottom text-center navbar-expand-sm navbar-dark" style="background-color: #0398fc;">
<div class="container-fluid">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item active">
        <span class="align-middle">
          <p class="footer-text">© 2020 All Rights Reserved. Ketonormal<span class="sr-only">
        </span>
      </li>
    </ul>
  </div>
</nav>

</body>
{% else %}
<a href="/login">Log in</a>
{% endif %}
