<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="jumbotron mb-0 d-flex align-items-center flex-column justify-content-center min-100" id="header">
    <h1 class="display-3">Keto Normal</h1>
    <p>Reference Ranges for Low-Carb People</p>
    <p class="lead">
        <a class="btn btn-outline-secondary btn-lg" href="/info" role="button">Learn more</a>
    </p>
    {% for result in averages %}
    <p>Labs Submitted {{ result[0] }}</p>
    <p>Avarage values: </p>
    <p>Total {{ result[1]|round(1, 'common') }} LDL {{ result[2]|round(1, 'common') }} HDL {{ result[3]|round(1, 'common') }} Triglycerides {{ result[4]|round(1, 'common') }}</p>
    {% endfor %}

</div>
<body>
    <section class="hero is-info is-fullheight">
<div class="container">
    <div class="columns is-left">
        <div class="column is-one-third is-offset-one-third">
<form action="/login" method="post">
    <div class="field">
        
        
        <label for="username">Username:</label>
        <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" class="form-control" name="username">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        </div>
    </div>
    <div class="field">
        
        <label for="pwd">Password:</label>
        <p class="control has-icons-left">
        <input class="input"  type="password" class="form-control" name="password">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
    </div>    
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>
</div>
</div>
<p></p>
<div class="column is-one-third is-offset-one-third">New user? Register <a href="/register" style="color:#080808;">here</a>
</div>
    </section>
</body>