{% extends "layout.html" %}
{% block title %}My Page{% endblock %}
{% block navbar %}
	<li class="nav-item active">
		<a class="nav-link" href="/submitlabs">Submit Labs</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="/query">Make Queries<span class="sr-only"></span></a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="/forum">Forum<span class="sr-only"></span></a>
	</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="text-left">
		<h3>Welcome!</h3><br>
	</div>
	
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 p-3 mb-3 bg-light rounded">
			<svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
			</svg> <br>
			<h4>{{ session.username  }}</h4>
			
			Age: {{ age }}<br>
			Gender: {{ gender }}<br>
			Diet: {{ diet }}<br>
			Units: {{ units }} <br>
			<form action="/update_profile">
				<input type="submit" value="Update Profile"> <a href="/update_profile"></a>
				
			</form>
		</div>
		<aside class="col-md-9 blog-sidebar">
			<div class="col-md-8 blog-main">
				<h3 class="pb-3 mb-4">
					
					<h3>Reference Ranges According to Your Profile:</h3>
					
					{% for result in ranges %}
					{% if units == 'usa' %}
					
					Total Cholesterol: Lower limit ({{ (result[0]*38.67) | round(1, 'common') }}) Average ({{ (result[1]*38.67)|round(1, 'common') }}) Upper limit ({{ (result[2]*38.67)|round(1, 'common') }})<br>
					LDL Cholesterol: Lower limit ({{ (result[3]*38.67)|round(1, 'common') }}) Average ({{ (result[4]*38.67)|round(1, 'common') }}) Upper limit ({{ (result[5]*38.67)|round(1, 'common') }})<br>
					HDL Cholesterol: Lower limit ({{ (result[6]*38.67)|round(1, 'common') }}) Average ({{ (result[7]*38.67)|round(1, 'common') }}) Upper limit ({{ (result[8]*38.67)|round(1, 'common') }})<br>
					Triglycerides: Lower limit ({{ (result[9]*38.67)|round(1, 'common') }}) Average ({{ (result[10]*38.67)|round(1, 'common') }}) Upper limit ({{ (result[11]*38.67)|round(1, 'common') }})<br>
					<p></p>
					{% endif %}
					{% if units == 'int' %}
					
					Total Cholesterol: Lower limit ({{ result[0]|round(1, 'common') }}) Average ({{ result[1]|round(1, 'common') }}) Upper limit ({{ result[2]|round(1, 'common') }})<br>
					LDL Cholesterol: Lower limit ({{ result[3]|round(1, 'common') }}) Average ({{ result[4]|round(1, 'common') }}) Upper limit ({{ result[5]|round(1, 'common') }})<br>
					HDL Cholesterol: Lower limit ({{ result[6]|round(1, 'common') }}) Average ({{ result[7]|round(1, 'common') }}) Upper limit ({{ result[8]|round(1, 'common') }})<br>
					Triglycerides: Lower limit ({{ result[9]|round(1, 'common') }}) Average ({{ result[10]|round(1, 'common') }}) Upper limit ({{ result[11]|round(1, 'common') }})<br>
					Sample size: {{ result[12] }}<br>
					<p></p>
					<h5>
					
					If sample size is less than 120 reference ranges are not reliable.</h5>
					<p></p>
					{% endif %}
					{% endfor %}
			
				</h3>
		</aside>
	</div>
</div>
<p>

<hr>

<main role="main" class="container-fluid">
	<div class="row">
		<div class="col-md-3 p-3 mb-3 bg-light rounded">
			<h4>Here are your labs:</h4>

			{% for labname in lab_names %}
			<a href="/results/{{ labname[0] }}">{{ labname[1] }} </a> <br>
			<p></p>
			{% endfor %}
			<input type="submit" value="Submit new lab"> <a href="/submitlabs"></a>
			
			<p></p>
			
		</div>
		<aside class="col-md-9 blog-sidebar">
			<div class="col-md-8 blog-main">
				<h3 class="pb-3 mb-4 border-bottom">
				Latest discussions:
				</h3>
				<div class="blog-post">
					{% for message in messages %}
					<h4 class="blog-post-title">{{ message[0] }}</h4>
					<p>{{ message[2]}} </p>
					<p><a class="blog-post-meta">{{ message[3].strftime("%Y-%m-%d %H:%M:%S")  }} From {{ message[1] }} </p>
					<a href="/topic/{{ message[4] }}">Reply</a>
					<hr>
					{% endfor %} 
					
				</div><!-- /.blog-sidebar -->
			  </div><!-- /.blog-main -->
			
		</aside>
	</div> <!-- /.row -->

</main><!-- /.container -->
{% endblock %}

