<h3>Here you can make queries</h3><br>
<p></p>

{% if session.user_id %}
<form action="/query_result" method="POST">
    <header>
        <h3>Check all the boxes you want to include into your query</h3>
    </header>
    <p> 
        Choose gender:
        <select name="sex">
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        </select>
        <p>
            Choose age:
            <select name="age">
            <option value="">Select Age</option>
            <option value="under">10-39</option>
            <option value="40to59">40-59</option>
            <option value="over60">Over 60</option>
            <option value="all_ages">All</option>
            </select>
            <p>
                Hours fasted:
                <select name="hours_fasted">
                <option value="">Select Hours Fasted</option>
                <option value="under">Less than 12 Hours</option>
                <option value="between">12-14 Hours</option>
                <option value="over">Over 14 Hours</option>
                <option value="all_hours">All</option>
                </select>
                <p></p>
                
                <p>
                    Choose CRP:
                    <select name="crp">
                    <option value="">Select CRP</option>
                    <option value="good">Below 1.0</option>
                    <option value="normal">Between 1-3</option>
                    <option value="higher">Over 3</option>
                    <option value="all_crp">All</option>
                    </select>
                <p> 
                    By clicking "Submit" you acknowledge this in no way constitutes medical advice.<br>
                    <p></p>
                    <input type="submit" value="Submit"> | <a href="/mypage">Back</a>  
        </form>
{% else %}
<a href="/login">Login</a> 
{% endif %}